.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-btn-primary:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
    transition: transform 1.0s;
    transform: scale(1.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.ant-card-hoverable:hover {
    border-color: rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-card-grid:hover {
    position: relative;
    z-index: 7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-card-grid {
  float: left;
  width: 33.33%;
  padding: 24px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow:none;
  -webkit-transition: none;
  transition: none;
}